<h1>Spiderman</h1>

<dl>
    <td>Nombre:</td>
    <dd>{{ name }}</dd>

    <td>Edad:</td>
    <dd>{{ age }}</dd>

    <td>Método:</td>
    <dd>{{ getHeroDescription() }}</dd>
 
    <td>Capitalizado:</td>
    <dd>{{ capitalizeName }}</dd>
</dl>

<button class="btn btn-primary mx-2" *ngIf="name !== 'spiderman'" (click)="changeHero('spiderman')">Cambiar Nombre</button>
<button class="btn btn-primary mx-2" *ngIf="age !== 23" (click)="changeAge(23)">Cambiar edad</button>
<button class="btn btn-primary" (click)="reset()">Reset</button>